
.container {
  padding: 0 2rem;
  text-align: center;
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.video {

  width: auto;
  height: auto;
}

.button {
  margin-top: 2vh;
  font-size: 0.7rem;
  padding: 5px 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #000;
  border-radius: 20px;
  color: antiquewhite;
}

.button:hover {
  background: rgb(73, 73, 73);
}

.title {
font-family: 'Bebas Neue', cursive;;
font-size: 2em;
}

.subTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1em;
  margin-top: -10px;
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 3em;
    }
    .subTitle {
      font-size: 1.6em;
    }

  .video {
    height: 60vh;
    width: 70vw;
  }

  .button {
    font-size: 2em;
    padding: 10px 20px;
  }

}